@charset "utf-8";

/*-------------------------------------------------
Author : KLIC
Create date : 2023. 11. 01. RESET SY,CHo
-------------------------------------------------*/

/* reset.css */
html {font-size: 20px;}
html::-webkit-scrollbar {display: none;}
*, *::before, *::after {box-sizing: border-box;}
body {padding: 0; font-family: 'Pretendard', 'Noto Sans KR', '돋움', 'Dotum', '굴림', 'Gulim', 'GmarketSans', AppleGothic, UnDotum, Arial, Tahoma, Verdana, sans-serif; font-size: 0.7rem; color: #333; font-weight: 400; line-height: 1.5; letter-spacing: -0.5px; word-break: keep-all; margin: 0;}
body::-webkit-scrollbar {display: none;}
ul, ol, li, dl, dt, dd {padding: 0; margin: 0; list-style: none;}
h1, h2, h3, h4, h5, h6 {padding: 0; font-size: inherit; font-weight: inherit; margin: 0;}
a {color: inherit; text-decoration: none;}
img {border: 0; padding: 0; font-size: 0; line-height: 0; vertical-align: middle; margin: 0;}
table {width: 100%; border-spacing: 0; border-collapse: separate;}
table td, table th {vertical-align: middle;}
caption, legend {width: 1px; height: 1px; border: 0; padding: 0; margin: -1px; position: absolute; overflow: hidden; clip: rect(0, 0, 0, 0);}
button, input, optgroup, select, textarea {padding: 0; font-family: inherit; font-size: inherit; color: inherit; font-weight: inherit; line-height: inherit; letter-spacing: inherit; margin: 0;}
select, input {vertical-align: middle;}
address, em, i {font-style: inherit;}
button {border: 0; background: none; cursor: pointer;}
input, select {border: 0; background: none;}
hr {display: block; height: 0; border: none; padding: 0; margin: 0;}
figure, figcaption, p {padding: 0; margin: 0;}
form, fieldset {border: none; padding: 0; line-height: 1; margin: 0;}
button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* iOS의 기본 스타일은 제거되고, css에서 사용자가 정의한 스타일로 반영 */
header, footer, article, section, aside, nav, main {display: block;}
small {font-size: 0.65rem;}

/* Add the correct font size in all browsers. */

/* Prevent `sub` and `sup` elements from affecting the line height in all browsers. */
sub, sup {font-size: 0.6rem; line-height: 0; vertical-align: baseline; position: relative;}
sub {bottom: -0.25em;}
sup {top: -0.5em;}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, main, menu, nav, output, ruby, section, summary, time, mark, audio, video {border: 0; padding: 0; vertical-align: baseline; margin: 0;}
b, strong {font: inherit;}

/* Skip 메뉴 */
#skipArea {width: 100%; height: 0; font-size: 0; line-height: 0; position: absolute; left: 0; top: -1000px; z-index: 1000;}
#skipArea a {display: block; width: 100%; font-size: 0; line-height: 0; text-align: center;}
#skipArea a:focus, #skipArea a:hover, #skipArea a:active {display: block; height: 1.5rem; background: #20262c; padding: 0.4rem 0; font-size: 0.6rem; color: #fff; font-weight: 700; position: absolute; left: 0; top: 1000px;}
.hid {width: 1px; height: 1px; border: 0; padding: 0; margin: -1px; position: absolute; overflow: hidden; clip: rect(0, 0, 0, 0);}

.al {text-align: left !important;}
.ac {text-align: center !important;}
.ar {text-align: right !important;}

.fl {float: left !important;}
.fr {float: right !important;}

.clearfix::after {content: ""; display: block; clear: both;}



@media screen and (max-width: 768px) {

  body {word-break: break-all;}
}