/* VAR */
:root {
  /* 메인 컬러 */
  --color-main01: #1754D1;
  --color-main02: #2781F9;
  
  /* 서브 컬러 */
  --color-green: #15A498;
  --color-orange: #F84B17;
  --color-red: #D2425A;
  --color-light-blue: #E3F1FF;
  --color-gray: #A2A7AE;
  --color-navy: #1F4982;

  /* 기존 컬러 */
  --color-dark-navy: #091f46;
  
  /* 배경 컬러 */
  --color-bg-cg: #F3F6FB;
  --color-bg-cg2: #E5E9EF;
  --color-bg-ng: #F5F6FA;
  --color-bg-wg: #F3F3F3;
  --color-bg-fff: #FFFFFF;
  --color-bg-b1: #111111;
  --color-bg-ddd: #DDDDDD;
  --color-bg-888: #888888;

  /* 기존 배경 컬러 */
  --color-bg-gray: #F7F7F7;
  
  /* 텍스트 컬러 - Black */
  --color-txt-b1: #111111;
  --color-txt-b2: #222222;
  --color-txt-b3: #333333;
  --color-txt-b4: #444444;
  --color-txt-b5: #555555;
  --color-txt-b6: #666666;
  --color-txt-b7: #777777;
  --color-txt-b8: #888888;
  
  /* 텍스트 컬러 - Gray */
  --color-txt-g60: #667084;
  --color-txt-g50: #A7B1BC;
  --color-txt-g40: #BFC5CA;
  --color-txt-g30: #CCC;
  --color-txt-g20: #DDD;
  --color-txt-fff: #FFF;
  
  /* 보더 컬러 */
  --color-border: #DDDDDD;
  --color-border-light: #F3F3F3;
  --color-border-b1: #111111;
  --color-border-gray4: #EDEDED;
  --color-border-gray5: #F0F0F2;
  --color-border-gray6: #F2F4F6;
  --color-border-gray7: #E5E9EF;
  --color-border-gray8: #BFC5CA;
  
  /* 기존 보더 컬러 */
  --color-border-gray: #CCCCCC;
  --color-border-gray2: #CDCDCD;
  --color-border-gray3: #dad8d9;
  
  /* 에러/경고 컬러 */
  --color-error: #dd3444;
  
  /* 비활성화 컬러 */
  --color-disabled: #E0E0E0;
  --color-disabled-bg: #F5F5F5;
  
  /* 기타 컬러 */
  --color-gray-light: #E5E5E5;
  --color-gray-light2: #E7E7E7;
}



/* body */
html {min-width: 280px; height: 100%; overflow: hidden;}
body {height: 100%; overflow: hidden;}



/* scrollbar */
html ::-webkit-scrollbar {width: 5px; height: 5px;}
html ::-webkit-scrollbar-track {border-radius: 5px; background-color: var(--color-bg-wg);}
html ::-webkit-scrollbar-thumb {border-radius: 5px; background-color:  var(--color-bg-cg2);}



/* #wrap */
#wrap {height: 100vh; background-color: var(--color-bg-cg); display: flex; flex-direction: column; overflow: hidden;}
#wrap.login,



/* header */
header {display: flex; gap: 0.5rem; align-items: center; justify-content: space-between; height: 2.5rem; background-color: var(--color-bg-cg); padding: 0 0.75rem; position: fixed; top: 0; left: 0; right: 0; width: 100%; z-index: 1000; transition: transform 0.3s ease-in-out;}
header a,
header button {flex-shrink: 0; display: inline-flex; align-items: center; justify-content: center; width: 0.9rem; height: 0.9rem; font-size: 0; line-height: 0;}
header a img,
header button img,
header .logo img {max-width: 100%; max-height: 100%; object-fit: contain;}
header .logo {line-height: 0; font-size: 0;}
header.hide {transform: translateY(-100%);}



/* header - subLayout */
header.subLayout {justify-content: center; padding: 0 2.45rem;}
header.subLayout > button {font-size: 1.2rem; line-height: 1; color: var(--color-txt-b1); position: absolute; left: 0.75rem;}
header.subLayout .tit1 {white-space: nowrap; overflow: hidden;}



/* header - menuLayout */
header.menuLayout {justify-content: flex-end; gap: 0.75rem; padding: 0 0.75rem; position: relative;}
header.menuLayout > button {width: 1.2rem; height: 1.2rem; font-size: 1.2rem; line-height: 1; color: #000;}
header.menuLayout > button:has(img) {font-size: 0; line-height: 0;}
header.menuLayout > button img {width: 100%; height: 100%; object-fit: contain;}



/* main */
main {width: 100%; flex: 1; overflow-y: auto; padding: 2.75rem 0.75rem; padding-bottom:  var(--paddingBottom) !important;

  --paddingBottom: 4.2rem;
}



/* main - subLayout */
main.subLayout {padding: 2.5rem 0.75rem;}
main.subLayout.idCardPage {padding: 0;}
main.subLayout.nonePBottom {
  
  /* 하단 네비게이션 없는 서브페이지 */
  --paddingBottom: 0.75rem;
} 



/* main - subLayout - tablePage */
main.subLayout.tablePage {display: flex; flex-direction: column; padding: 0; padding-bottom: 2.5rem;}
main.subLayout.tablePage .innerLayout {flex-shrink: 0; padding: 2.5rem 0.75rem 0.65rem; background-color: var(--color-bg-cg);}
main.subLayout.tablePage .tableWrap:last-child {flex: 1;}




/* main - menuLayout */
main.menuLayout {padding: 0;
  
  /* 하단 네비게이션 없는 메뉴페이지 */
  --paddingBottom: 0;
}



/* main - loginLayout */
main.loginLayout {display: flex; justify-content: center; padding: 0 1rem; padding-top: calc((100vh - 20.7rem) / 2);

  /* 로그인 페이지 */
  --paddingBottom: 0;
}



/* bottomNavigation */
#bottomNavigation {display: flex; align-items: center; justify-content: space-between; gap: 2.5rem; width: 100%; height: var(--bottomNavigationHeight); position: fixed; bottom: 0; left: 0; z-index: 998;

  --bottomNavigationHeight : 4.7rem;
  --bottonNavigationBorderRadius: 1rem;
  --bottonNavigationShadow: 2px 0 10px 0 rgba(0, 0, 0, 0.05);
  --bottonNavigationPaddingTop: 0.45rem;
  --bottonNavigationCircleSize: calc(var(--bottomNavigationHeight) * 0.85);
  --iconGap: 0.85rem;
}
#bottomNavigation .bg {width: 100%; height: 100%; position: absolute; left: 0; top: 0; z-index: -1;}
#bottomNavigation .bg span {display: block; background-color: #fff; position: absolute;}
#bottomNavigation .bg span.circleBoxShadow {width: var(--bottonNavigationCircleSize); height: var(--bottonNavigationCircleSize); border-radius: 50%; border: 1px solid var(--color-border-gray5); box-shadow: var(--bottonNavigationShadow); left: 50%; top: 0; transform: translateX(-50%); z-index: 1;}
#bottomNavigation .bg span.rectangle {width: 100%; height: calc(100% - var(--bottonNavigationPaddingTop)); border-radius: var(--bottonNavigationBorderRadius) var(--bottonNavigationBorderRadius) 0 0; border-top: 1px solid var(--color-border-gray5); background-color: #fff; box-shadow: var(--bottonNavigationShadow); left: 0; bottom: 0; z-index: 2;}
#bottomNavigation .bg span.circleBorderDelete {width: calc(var(--bottonNavigationCircleSize) - 2px); height: calc(var(--bottonNavigationCircleSize) - 2px); border-radius: 50%; left: 50%; top: 1px; transform: translateX(-50%); z-index: 3;}
#bottomNavigation .centerIcon {flex-shrink: 0; display: flex; align-items: center; justify-content: center; width: 2.5rem; height: 2.5rem; border-radius: 50%; background: linear-gradient(135deg, rgba(167, 246, 255, 0), rgba(167, 246, 255, 0.2)) var(--color-main02); color: var(--color-txt-fff); position: absolute; top: calc(var(--bottonNavigationPaddingTop) - 0.15rem); left: 50%; transform: translateX(-50%); z-index: 4;}
#bottomNavigation .iconWrap {flex: 1; display: flex; gap: var(--iconGap); padding: 0.6rem var(--iconGap) 0; z-index: 4;}
#bottomNavigation .iconWrap li {width: calc((100% - var(--iconGap) * 1) / 2);}
#bottomNavigation .iconWrap li a {display: flex; align-items: center; flex-direction: column; gap: 0.4rem;}
#bottomNavigation .iconWrap li a .icn {width: 1.1rem; height: 1.1rem; object-fit: contain;}
#bottomNavigation .iconWrap li a .txt {display: block; width: 100%; overflow: hidden; font-size: 0.6rem; font-weight: 500; color: var(--color-txt-b7); line-height: 1.2; height: 2.4em; text-align: center; letter-spacing: -1px; padding: 0 0.1em; word-break: keep-all;}



/* 반응형 */
@media (max-width: 320px) {

  /* main */
  main {
    --paddingBottom: 3rem;
  }
  


  /* bottomNavigation */
  #bottomNavigation {--bottomNavigationHeight: 3.5rem;}
  #bottomNavigation .iconWrap {padding: 0.2rem var(--iconGap) 0;}
  #bottomNavigation .iconWrap li a .icn {width: 1.2rem; height: 1.2rem;}
  #bottomNavigation .iconWrap li a .txt {display: none;}
}