/* ★로그인 */
.loginWrap {display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 2.5rem; width: 100%; height: 20.7rem;}
.loginWrap .logo {line-height: 0; font-size: 0;}
.loginWrap .logo img {max-width: 100%; object-fit: contain;}

.loginForm {width: 100%;}
.loginForm .form_wrap {display: flex; flex-direction: column; gap: 0.75rem;}
.loginForm .form_wrap .form_item {display: flex; flex-direction: column; gap: 0.25rem;}
.loginForm .form_wrap .form_item:has(.chkBox) {align-items: flex-end;}
.loginForm .form_wrap .form_item label {font-size: 0.6rem; color: var(--color-txt-b2); font-weight: 500; line-height: 1.5;}
.loginForm button {margin-top: 1.25rem;}



/* ★메뉴 */
.menuWrap {display: flex; flex-direction: column; height: 100%;

  --userInfoHeight: 6.3rem;
  --controlBoxGap: 3rem;
  --menuListWidth: 33%;
}
.menuWrap .userInfo {padding: 0.825rem 1rem; background-color: var(--color-bg-fff); height: var(--userInfoHeight);}
.menuWrap .userInfo dl {display: flex; flex-direction: column; column-gap: 0.5rem; padding: 0 0.5rem; margin-bottom: 0.4rem;}
.menuWrap .userInfo dl dt {flex-shrink: 0; max-width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; font-size: 1rem; color: var(--color-txt-b1); line-height: 1.4; font-weight: 700;}
.menuWrap .userInfo dl dd {flex: 1; font-size: 0.6rem; color: var(--color-txt-b7); overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.menuWrap .userInfo .controlBox {display: flex; align-items: center; justify-content: center; height: 2rem; gap: var(--controlBoxGap); background-color: var(--color-bg-wg); border-radius: 0.25rem;}
.menuWrap .userInfo .controlBox li {display: flex; align-items: center; gap: 0.5rem;}
.menuWrap .userInfo .controlBox li > span {flex-shrink: 0; align-items: center; font-size: 0.6rem; font-weight: 500;}
.menuWrap .userInfo .controlBox li .toggleSwitch {flex-shrink: 0;}
.menuWrap .userInfo .controlBox li > button {width: auto; flex-shrink: 0;}
.menuWrap .userInfo .controlBox li > button img {width: 0.6rem; height: 0.6rem; object-fit: contain; font-size: 0; line-height: 0; margin-right: 0.15rem;}

#menuList {height: calc(100% - var(--userInfoHeight)); background-color: var(--color-bg-fff); position: relative; z-index: 0; color: var(--color-txt-fff); border-top: 1px solid var(--color-border-gray7);}
#menuList::before {content: ''; display: block; width: var(--menuListWidth); height: 100%; background-color: var(--color-navy); z-index: -2; position: absolute; top: 0; left: 0;}
#menuList::after {content: ''; display: block; width: 24%; height: 195px; background: url('../images/sub/menu_logo.png') no-repeat; background-size: contain; background-position: bottom left; position: absolute; bottom: 0; left: 0; z-index: -1;}
#menuList .depth_01 {width: var(--menuListWidth); height: 100%; overflow-y: auto;}
#menuList .depth_01::-webkit-scrollbar {display: none;}
#menuList .depth_01 > li > a {display: block; padding: 0.75rem 0; padding-left: 1rem; padding-right: 1.5rem; font-size: 0.8rem; color: var(--color-txt-g20); line-height: 1.4; ; position: relative;}
#menuList .depth_01 > li > a::after {content: '\EA6E'; display: block; position: absolute; right: 0.5rem; top: 50%; transform: translateY(-50%) scale(0); font-family: 'remixicon'; font-size: 0.8rem; font-weight: 400 !important; opacity: 0; transition: 0.3s;}

#menuList .depth_02_wrap {position: absolute; top: 0; right: 0; width: calc(100% - var(--menuListWidth)); height: 100%; background-color: var(--color-bg-fff); padding: 0.2rem 0; padding-left: 7.46%; padding-right: 0.5rem; overflow-y: auto; opacity: 0; visibility: hidden; transition: 0.3s;}
#menuList .depth_02_wrap::-webkit-scrollbar {display: none;}



/* ★메뉴 - actvie */
#menuList .depth_01 > li.active > a {color: var(--color-txt-b2); font-weight: 700; background-color: var(--color-bg-fff);}
#menuList .depth_01 > li.active > a::after {transform: translateY(-50%) scale(1); opacity: 1;}
#menuList .active .depth_02_wrap {opacity: 1; visibility: visible;}
#menuList .depth_02_wrap .depth_02 > li > a {display: block; padding: 0.625rem 0; color: var(--color-txt-b6);}
#menuList .depth_02_wrap .depth_03 > li > a {display: block; padding: 0.125rem 0; color: var(--color-txt-b8);}



/* ★알림센터_메세지_상세 */
.alertCenterWrap {padding-bottom: 1rem;}
.alertCenterWrap .alertInfo {display: flex; justify-content: space-between; gap: 2rem; width: 100%; font-size: 0.6rem; color: var(--color-txt-b7); border-bottom: 1px solid var(--color-border-gray7); padding: 0.4rem 0 0.8rem;}
.alertCenterWrap .alertContent {padding: 1.1rem 0; color: var(--color-txt-b5); border-bottom: 1px solid var(--color-border-gray7);}
.alertCenterWrap .alertBtn {justify-content: flex-end;}
.alertCenterWrap .alertBtn button {width: 5.55rem;}



/* ★알림센터_메세지_상세_수신자목록 */
.checkListWrap {padding-bottom: 1rem;}
.checkListWrap > p {font-size: 0.7rem; font-weight: 500; color: var(--color-txt-b5); margin-bottom: 0.5rem; text-align: right;}
.checkListWrap .checkList {padding: 0.25rem 1rem; background-color: var(--color-bg-fff); border-radius: 0.75rem;}
.checkListWrap .checkList li {display: flex; justify-content: space-between; width: 100%; padding: 0.75rem 0;}
.checkListWrap .checkList li + li {border-top: 1px solid var(--color-border-gray7);}
.checkListWrap .checkList li .left {display: flex; align-items: center; gap: 0.5rem; line-height: 1.4;}
.checkListWrap .checkList li .left .name {font-size: 0.8rem; font-weight: 700; color: #000;}
.checkListWrap .checkList li .left .studentNumber {font-size: 0.7rem; color: var(--color-txt-b5);}
.checkListWrap .checkList li .right {display: flex; align-items: center; gap: 0.3rem; font-size: 0.7rem;}
.checkListWrap .checkList li .right.unCheck {color: var(--color-orange);}
.checkListWrap .checkList li .right.check {color: var(--color-main02);}



/* 메인_등록금고지서(학생) */
.tutationWrap > ul > li + li {margin-top: 0.75rem;}
.tutationWrap .tut_info > ul > li {display: flex; justify-content: space-between; width: 100%;}
.tutationWrap .tut_info > ul > li + li {margin-top: 0.75rem;}
.tutationWrap .tut_info > ul > li.top .tit,
.tutationWrap .tut_info > ul > li.bottom .subTit {flex-shrink: 0; width: 3.5rem; overflow: hidden; white-space: nowrap;}
.tutationWrap .tut_info > ul > li.top .total {font-weight: 700; color: var(--color-txt-b7);}
.tutationWrap .tut_info > ul > li.top .total em {font-size: 1rem; font-weight: 700; line-height: 1.4; color: var(--color-main01); margin-right: 0.2rem;}
.tutationWrap .tut_info > ul > li.bottom .desc {color: var(--color-txt-b7);}

.tutationWrap .tut_info.type2 > ul > li.top .tit {width: 100%;}
.tutationWrap .tut_info.type2 > ul > li.bottom .subTit {color: var(--color-txt-b4);}
.tutationWrap .tut_info.type2 > ul > li.bottom .desc {color: var(--color-txt-b4);}

.tutationWrap .tut_info > dl > dt {font-size: 0.8rem; font-weight: 700; color: var(--color-txt-b3); line-height: 1.4; padding-bottom: 0.7rem; border-bottom: 1px solid var(--color-border-gray8);}
.tutationWrap .tut_info > dl > dd {margin-top: 0.75rem;}
.tutationWrap .tut_info > dl > dd > ul > li {display: flex; justify-content: space-between; width: 100%; color: var(--color-txt-b7);}
.tutationWrap .tut_info > dl > dd > ul > li + li {margin-top: 0.5rem;}
.tutationWrap .tut_info > dl > dd > ul > li .right {flex-shrink: 0; width: 3.5rem; overflow: hidden; white-space: nowrap;}



/* 대학생활_학사일정 */
.contentWrap {padding: 1rem 0.9rem; background-color: var(--color-bg-fff); border-radius: 0.75rem; margin-bottom: 0.75rem;}
.contentWrap .listWrap {margin-top: 1.25rem;}
.contentWrap .listWrap > li + li {margin-top: 1.5rem;}
.contentWrap .listWrap > li ul {position: relative; padding-left: 1.25rem;}
.contentWrap .listWrap > li ul:before {content: ''; display: block; width: 3px; height: 100%; background: var(--color-border-gray6); position: absolute; left: 0.5rem; top: 0;}
.contentWrap .listWrap > li ul li p.date {font-weight: 700;}
.contentWrap .listWrap > li ul li p.date.event {color: var(--color-main02);}
.contentWrap .listWrap > li ul li:has(p.date.event)::before {background: var(--color-main02);}
.contentWrap .listWrap > li ul li p.date.holiday {color: var(--color-red);}
.contentWrap .listWrap > li ul li:has(p.date.holiday)::before {background: var(--color-red);}
.contentWrap .listWrap > li ul li p.date.holiday + p.content,
.contentWrap .listWrap > li ul li p.date.event + p.content {font-weight: 700;}



/* 대학생활_공지사항_목록 */
.noticeListWrap {padding: 0.5rem 1.2rem 1rem; background-color: var(--color-bg-fff); border-radius: 1rem; margin-bottom: 0.75rem;}
.noticeListWrap .noticeList li {padding: 1rem 0; position: relative;}
.noticeListWrap .noticeList li + li {border-top: 1px solid var(--color-border-light);}
.noticeListWrap .noticeList li a {display: flex; flex-direction: column; gap: 0.75rem;}
.noticeListWrap .noticeList li a h3 {display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; line-height: 1.4; max-height: 2.8em; word-break: keep-all;}
.noticeListWrap .noticeList li a p {display: flex; justify-content: space-between; gap: 2rem; width: 100%; font-size: 0.6rem; color: var(--color-gray);}
.noticeListWrap .noticeList li a p span.date {flex-shrink: 0; width: 3.5rem; overflow: hidden; white-space: nowrap;}
.noticeListWrap .noticeList li a p span.views i {font-size: 0.6rem;}
.noticeListWrap .noticeList li a p span.views em {margin-left: 0.2rem; font-size: 0.6rem;}
.noticeListWrap > button i {margin-left: 0.5rem;}
.noticeListWrap:has(.no-data) {padding: 1rem;}
.noticeListWrap .no-data {text-align: center; color: var(--color-txt-b5);}



/* 대학생활_공지사항_목록 - 공통 사용: ★알림센터 */
.noticeListWrap.alertCenter .noticeList li .delBtnWrap {width: 100%; text-align: right; line-height: 1; margin-bottom: 0.25rem;}
.noticeListWrap.alertCenter .noticeList li .delBtnWrap .delBtn {display: inline-block; color: var(--color-txt-g50); font-size: 0.8rem;}
.noticeListWrap.alertCenter .noticeList li a p {column-gap: 1rem;}


/* 대학생활_공지사항_상세 */
.noticeDetailWrap {padding: 0 0.25rem;}
.noticeDetailWrap .noticeInfo {border-bottom: 1px solid var(--color-border-gray7); margin-top: 0.65rem;}
.noticeDetailWrap .noticeInfo h2 {margin: 0; word-break: keep-all;}
.noticeDetailWrap .noticeInfo .bottomInfo {display: flex; justify-content: space-between; gap: 2rem; width: 100%; font-size: 0.6rem; color: var(--color-gray); padding: 0.8rem 0;}
.noticeDetailWrap .noticeInfo .bottomInfo span.date {flex-shrink: 0; width: 3.5rem; overflow: hidden; white-space: nowrap;}
.noticeDetailWrap .noticeInfo .bottomInfo ul {display: flex; gap: 1rem;}
.noticeDetailWrap .noticeInfo .bottomInfo ul .views,
.noticeDetailWrap .noticeInfo .bottomInfo ul .editWrap {display: flex; align-items: center; gap: 0.2rem; font-size: 0.6rem;}
.noticeDetailWrap .noticeInfo .bottomInfo .editBtn em {margin-left: 0.1rem;}
.noticeDetailWrap .noticeContent {padding: 1.1rem 0; color: var(--color-txt-b5); border-bottom: 1px solid var(--color-border-gray7);}
.noticeDetailWrap > button {margin-top: 1rem;}



/* 대학생활_모바일신분증(학생)*/
.idCardWrap {min-height: calc(100% - 8rem); background-color: var(--color-bg-fff); border-radius: 1rem 1rem 0 0; padding: 5rem 1.2rem 1.2rem; margin-top: var(--top-margin); position: relative;

  --top-margin: 10rem;
}
.idCardWrap .cardInfo {display: flex; align-items: center; justify-content: center; position: absolute; top: 0; left: 50%; transform: translate(-50%, calc(-100% + 3rem)); width: 100%;}
.idCardWrap .cardInfo > img {max-width: 100%; object-fit: contain; border-radius: 0.75rem; box-shadow: 0 0 4px rgba(0, 0, 0, 0.15); font-size: 0; line-height: 0;}
.idCardWrap .cardInfo .infoBox {display: flex; align-items: center; justify-content: space-between; gap: 0.5rem; width: calc(295px - 2.4rem); position: absolute; top: 2.45rem; left: calc((100% - 295px) / 2 + 1.2rem);}
.idCardWrap .cardInfo .infoBox .left {max-width: 6rem; font-size: 0.6rem; color: var(--color-txt-b1);}
.idCardWrap .cardInfo .infoBox .left .name {font-size: 0.9rem; color: var(--color-txt-b1); font-weight: 700; line-height: 1.4; letter-spacing: 0; margin-bottom: 0.15rem;}
.idCardWrap .cardInfo .infoBox .left .department,
.idCardWrap .cardInfo .infoBox .left .major {overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.idCardWrap .cardInfo .infoBox .right {flex-shrink: 0; font-size: 0; line-height: 0; border: 1px solid var(--color-border); border-radius: 0.5rem; overflow: hidden;}

.idCardWrap .QR {display: flex; flex-direction: column; align-items: center; gap: 0.4rem;}
.idCardWrap .QR img {max-width: 160px; max-height: 160px; object-fit: contain; border-radius: 0.75rem; font-size: 0; line-height: 0;}
.idCardWrap .QR .qrBottom {display: flex; align-items: center; gap: 0.5rem;}
.idCardWrap .QR .qrBottom .remainingTime {font-size: 0.6rem; color: var(--color-txt-b7);}
.idCardWrap .QR .qrBottom .remainingTime em {font-weight: 700; color: var(--color-main02); font-size: 0.8rem; margin-left: 0.25rem;}
.idCardWrap .QR .qrBottom .refreshBtn {display: inline-flex; align-items: center; justify-content: center; width: 1.1rem; height: 1.1rem; border-radius: 50%; background: var(--color-bg-888); color: var(--color-txt-fff); font-size: 0.6rem;}

.idCardWrap .hanaWrap {margin-top: 5.5vh;}
.idCardWrap .hanaWrap ul {display: flex; align-items: center; padding: 0.75rem 0; background-color: var(--color-bg-cg); border-radius: 0.75rem;}
.idCardWrap .hanaWrap ul li {width: 50%;}
.idCardWrap .hanaWrap ul li:first-child {border-right: 1px dashed var(--color-border);}
.idCardWrap .hanaWrap ul li > a {display: flex; align-items: center; gap: 0.5rem; padding: 0.325rem 1.1rem;}
.idCardWrap .hanaWrap ul li > a p.img {flex-shrink: 0; width: 2.25rem; height: 2.25rem;  border-radius: 0.25rem; box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); font-size: 0; line-height: 0; overflow: hidden;}
.idCardWrap .hanaWrap ul li > a p.img img {max-width: 100%; max-height: 100%; object-fit: contain;}
.idCardWrap .hanaWrap ul li > a p.txt span {display: block;}
.idCardWrap .hanaWrap ul li > a p.txt span.title {font-weight: 700;}
.idCardWrap .hanaWrap ul li > a p.txt span.desc {font-size: 0.6rem; color: var(--color-txt-b7);}
.idCardWrap .hanaWrap ul li > a p.txt span.desc i {color: var(--color-txt-g30);}



/* 대학생활_모바일신분증(교수)(교직원) */
.idCardWrap.professor .cardInfo .infoBox {top: 3.25rem; left: calc((100% - 295px) / 2 + 2.1rem);}
.idCardWrap.professor .cardInfo .infoBox .left {max-width: 8rem; color: var(--color-txt-fff);}
.idCardWrap.professor .cardInfo .infoBox .left .name {color: var(--color-txt-fff);}



/* 학사정보_수업시간표(학생) */
.timeTableWrap {padding-bottom: 1rem;}
.timeTableWrap > ul > li + li {margin-top: 0.5rem;}



/* 학사정보_수업시간표-[tab]수업정보(학생) */
.courseInfoWrap {padding-bottom: 1rem;}
.courseInfoWrap .courseInfo > ul {display: flex; gap: 0.8rem; width: 100%; position: relative;}
.courseInfoWrap .courseInfo > ul::before {content: ''; display: block; width: 1px; height: 100%; background: var(--color-txt-g60); position: absolute; left: 50%; opacity: 0.2;}
.courseInfoWrap .courseInfo > ul > li {display: flex; justify-content: space-between; width: calc((100% - 0.8rem) / 2); padding: 0 0.5rem; font-weight: 500; color: var(--color-txt-b3);}
.courseInfoWrap .courseInfo > ul > li span {flex-shrink: 0; font-weight: 700;}
.courseInfoWrap .courseList {margin-top: 0.75rem;}
.courseInfoWrap .courseList > li + li {margin-top: 0.5rem;}
.courseInfoWrap .courseList .box_st1 {border: 1px solid var(--color-border-gray7);}
.courseInfoWrap .courseList .badgeBox {display: flex; align-items: center; gap: 0.25rem;}
.courseInfoWrap .courseList .innerbox {margin-top: 0.4rem;}
.courseInfoWrap .courseList .innerbox > li {padding-top: 0.25rem;}
.courseInfoWrap .courseList .innerbox > li.top {padding: 0.25rem 0;}
.courseInfoWrap .courseList .innerbox > li + li {border-top: 1px solid var(--color-border-gray7);}
.courseInfoWrap .courseList .innerbox > li > p {color: var(--color-txt-b7);}
.courseInfoWrap .courseList .innerbox > li.bottom {font-size: 0.6rem;}
.courseInfoWrap .courseList .innerbox > li.bottom .time {font-weight: 700;}



/* 학사정보_학기별성적-[tab]학기별성적(학생) */
.tablePage .gradeInfo > ul {display: flex; column-gap: 1rem; row-gap: 0.15rem; flex-wrap: wrap; width: 100%;}
.tablePage .gradeInfo > ul > li {display: flex; justify-content: space-between; flex-wrap: wrap; column-gap: 0.5rem; width: calc((100% - 1rem) / 2);}
.tablePage .gradeInfo > ul > li > span {flex-shrink: 0; font-weight: 700;}
.tablePage .gradeInfo > ul > li .grade {width: 5.2rem; font-weight: 500; color: var(--color-txt-b3);}
.tablePage .gradeInfo > ul > li .grade em {font-weight: 400; font-size: 0.6rem;}



/* 학사정보_학기별성적-테이블 */
.tablePage .tableWrap {padding: 0.75rem 0.65rem; background-color: var(--color-bg-fff);}
.tablePage .tableWrap + .tableWrap {margin-top: 0.6rem;}
.tablePage .tableWrap .tit4 {margin-bottom: 0.65rem;}
.tablePage .tableWrap .tit4 .complete {color: var(--color-main01); margin-left: 0.15rem;}



/* 학사정보_수강소감설문(학생) */
.surveyWrap {width: 100%; height: 100%; padding-top: 0.35rem; padding-bottom: 1rem;}
.surveyWrap.noData .surveyItem {display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 1.5rem; width: 100%; height: 100%; background-color: var(--color-bg-cg2); border-radius: 0.75rem;}
.surveyWrap.noData .surveyItem img {max-width: 100%; max-height: 100%; object-fit: contain;}
.surveyWrap.noData .surveyItem p {font-size: 0.8rem; color: var(--color-txt-b7); line-height: 1.4;}



/* 대학생활_식단안내 */
.mealWrap {padding-bottom: 1rem;}
.mealWrap .tabConWrap {display: none;}
.mealWrap .tabConWrap.on {display: block;}
.mealWrap .tabConWrap {margin-top: 1rem;}
.mealWrap .tabConWrap > li + li {margin-top: 0.5rem;}
.mealWrap .tabConWrap .meal_txt {color: var(--color-txt-b3); padding-top: 0.5rem;}
.mealWrap .tabConWrap .meal_txt strong {display: block; margin: 0.5rem 0 0.25rem; font-size: 0.6rem; font-weight: 500; color: var(--color-gray);}
.mealWrap .tabConWrap .no-data {display: flex; align-items: center; justify-content: center; text-align: center;}



/* 교직원메뉴_급여내역서(교수)(교직원) */
.salaryList .innerbox {display: flex; flex-direction: column;}
.salaryList .innerbox + .innerbox {margin-top: 1.5rem;}
.salaryList .innerbox > li {display: flex; justify-content: space-between; width: 100%;}
.salaryList .innerbox > li + li {border-top: 1px solid var(--color-border-gray7);}
.salaryList .innerbox > li.top {padding-bottom: 0.75rem;}
.salaryList .innerbox > li.top span.total {font-weight: 700; color: var(--color-txt-b7);}
.salaryList .innerbox > li.top span.total em {font-size: 0.8rem; color: var(--color-main02); margin-right: 0.2rem;}
.salaryList .innerbox > li.top span.total.type2 em{color: var(--color-txt-b2);}
.salaryList .innerbox .bottom {width: 100%; padding-top: 0.75rem;}
.salaryList .innerbox .bottom > li {display: flex; justify-content: space-between; width: 100%;}
.salaryList .innerbox .bottom > li + li {padding-top: 0.5rem;}
.salaryList .innerbox .bottom > li span {color: var(--color-txt-b7); font-weight: 500;}



/* 교직원메뉴_교직원연락처(교수)(교직원) */
.contactWrap {padding-bottom: 1rem; min-height: 100%;}
.contactWrap .filterWrap {display: flex; flex-direction: column; gap: 0.4rem; height: 3.2rem; margin-bottom: 0.75rem;}
.contactWrap .filterWrap .radioWrap {display: flex; gap: 0.75rem; width: 100%;}
.contactWrap .filterWrap .searchBox {margin: 0;}
.contactWrap .contactList {min-height: calc(100% - 3.2rem - 0.75rem); border-radius: 0.75rem; background-color: var(--color-bg-fff); padding: 0.5rem 1.2rem;}
.contactWrap .contactList > li {padding: 0.6rem 0;}
.contactWrap .contactList > li + li {border-top: 1px solid var(--color-border-light);}
.contactWrap .contactList > li > a {display: block; text-decoration: none; color: inherit; cursor: pointer;}
.contactWrap .contactList .contactInfo {display: flex; flex-direction: column; gap: 0.15rem;}
.contactWrap .contactList .contactInfo > li {display: flex; justify-content: space-between; gap: 1rem; width: 100%;}
.contactWrap .contactList .contactInfo > li > .dept {font-size: 0.6rem; color: var(--color-gray); font-weight: 500;}
.contactWrap .contactList .contactInfo > li > .name {font-size: 0.8rem; color: var(--color-txt-b2); font-weight: 700; line-height: 1.4;}
.contactWrap .contactList .contactInfo > li > .name span {font-weight: 500; margin-left: 0.2rem;}
.contactWrap .contactList .contactInfo > li > .officeTel {color: var(--color-navy); font-weight: 700;}
.contactWrap .contactList .contactInfo > li > .email,
.contactWrap .contactList .contactInfo > li > .mobileTel {color: var(--color-txt-b7);}



/* 교직원메뉴_교직원연락처(교수)(교직원) - 로드, 검색결과 없음 */
.contactWrap:has(.load),
.contactWrap:has(.no-data) {height: 100%;}
.contactWrap .contactList:has(.load),
.contactWrap .contactList:has(.no-data) {display: flex; align-items: center; justify-content: center; background-color: var(--color-bg-cg2);}
.contactWrap .contactList .load, 
.contactWrap .contactList .no-data {display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%; gap: 1.5rem; text-align: center; font-size: 0.8rem; line-height: 1.4; color: var(--color-txt-b7);}
.contactWrap .contactList .no-data img {max-width: 96px; max-height: 71px; object-fit: contain;}



/* 교직원메뉴_교직원연락처(교수)(교직원) - 모달 */
.contactModal {position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 9999; display: flex; align-items: center; justify-content: center; opacity: 0; visibility: hidden; transition: 0.3s;}
.contactModal::before {content: ''; display: block; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.7); position: absolute; top: 0; left: 0; z-index: -1;}
.contactModal .modalWrap {display: flex; flex-direction: column; align-items: flex-end; gap: 0.5rem; position: relative; width: calc(100% - 2.8rem); max-width: 28rem; z-index: 1; }
.contactModal .modalClose {display: inline-flex; align-items: center; justify-content: center; color: var(--color-txt-fff); font-size: 1.4rem; cursor: pointer; z-index: 2;}
.contactModal .modalClose i {line-height: 1;}
.contactModal .modalContent {width: 100%; max-height: 90vh; overflow-y: auto; position: relative; background-color: var(--color-bg-fff); border-radius: 1rem; padding: 1.5rem 1rem; z-index: 0; scrollbar-width: none; -ms-overflow-style: none;}
.contactModal .modalContent::-webkit-scrollbar {display: none;}
.contactModal .modalContent::after {content: ''; display: block; width: 181px;  height: 54px; background: url('/images/sub/modal_logo.png') no-repeat center center / contain; position: absolute; top: 0; right: 0; z-index: -1;}
.contactModal .modalContent.headerOnly .modalHeader {padding-bottom: 0;}
.contactModal .modalHeader {padding-bottom: 0.75rem;}
.contactModal .modalHeader .modalTitle {font-size: 1.2rem; color: var(--color-txt-b1); font-weight: 700; line-height: 1.4;}
.contactModal .modalHeader ul {display: flex; flex-wrap: wrap; gap: 0.4rem;}
.contactModal .modalHeader ul li {font-size: 0.8rem; color: var(--color-txt-b7); font-weight: 500;}
.contactModal .modalHeader ul li.dept {font-weight: 700;}
.contactModal .modalBody {padding-top: 0.75rem; border-top: 1px solid var(--color-border-light);}
.contactModal .modalBody .contactList {display: flex; flex-direction: column; gap: 0.4rem;}
.contactModal .modalBody .contactList > li {display: flex; justify-content: space-between; align-items: center; gap: 0.4rem;}
.contactModal .modalBody .contactList > li .tit {width: 2.5rem; color: var(--color-gray); flex-shrink: 0;}
.contactModal .modalBody .contactList > li p {flex: 1; display: flex; align-items: center; justify-content: space-between; gap: 0.5rem;  font-weight: 500;}
.contactModal .modalBody .contactList > li p span {color: var(--color-txt-b6); font-weight: 500;}
.contactModal .modalBody .contactList > li p .img {flex-shrink: 0; width: 1.1rem; height: 1.1rem; display: inline-flex; align-items: center; justify-content: center; border: 1px solid var(--color-border-gray8); border-radius: 0.25rem; overflow: hidden;}
.contactModal .modalBody .contactList > li p .img img {max-width: 100%; max-height: 100%; object-fit: contain;}



/* 교직원메뉴_교직원연락처(교수)(교직원) - 모달 - 표시 */
.contactModal.show {opacity: 1; visibility: visible;}



/* 교직원메뉴_지도학생목록(교수), 대학생활_강의정보-[tab]수업시간표(교수) - [공통] 리스트*/
.studentWrap {padding-bottom: 1rem; min-height: 100%;}
.studentWrap .studentList {min-height: calc(100% - 1.75rem - 0.75rem - 0.4rem); border-radius: 0.5rem; background-color: var(--color-bg-fff); padding: 0.6rem 1.2rem;}
.studentWrap .studentList > li {display: flex; column-gap: 0.75rem; padding: 0.5rem 0;}
.studentWrap .studentList > li:not(.controlWrap) + li {border-top: 1px solid var(--color-border-light);}
.studentWrap .studentList > li:not(.controlWrap) .chkBox {padding-left: 0.8rem;}
.studentWrap .studentList .controlWrap {display: flex; justify-content: space-between; align-items: flex-start; padding-bottom: 0.6rem; padding-top: 0; border-bottom: 1px dashed var(--color-border-light); margin-bottom: 0.25rem;}
.studentWrap .studentList .controlWrap > .chkBox {flex-shrink: 0; position: relative; top: 0.1rem;}
.studentWrap .studentList .controlWrap > button {flex-shrink: 0; width: 3.65rem;}
.studentWrap .studentList .advisorInfo {display: flex; flex-direction: column; gap: 0.1rem; width: 100%;}
.studentWrap .studentList .advisorInfo > li {display: flex; justify-content: space-between; gap: 0.15rem; width: 100%;}
.studentWrap .studentList .advisorInfo > li > .name {font-size: 0.8rem; color: var(--color-txt-b2); font-weight: 700; line-height: 1.4;}
.studentWrap .studentList .advisorInfo > li > .dept {font-size: 0.6rem; color: var(--color-gray); font-weight: 500;}

.studentWrap .studentList .advisorInfo .infoList > ul {display: flex; column-gap: 0.75rem; width: 100%;}
.studentWrap .studentList .advisorInfo .infoList > ul > li {display: flex; gap: 0.15rem; color: var(--color-txt-b6);}
.studentWrap .studentList .advisorInfo .infoList > ul > li > .tit {flex-shrink: 0; font-weight: 700;}

.studentWrap .studentList .no-data {display: flex; flex-direction: column; align-items: center; justify-content: center; width: 100%; height: 100%; text-align: center; color: var(--color-txt-b7);}



/* 교직원메뉴_지도학생목록(교수) - 모달 */
.messageModal {position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 9999; display: flex; align-items: center; justify-content: center; opacity: 0; visibility: hidden; transition: 0.3s;}
.messageModal::before {content: ''; display: block; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.7); position: absolute; top: 0; left: 0; z-index: -1;}
.messageModal .modalWrap {display: flex; flex-direction: column; width: calc(100% - 2.8rem); max-width: 28rem; max-height: 90vh; overflow-y: auto; background-color: var(--color-bg-fff); border-radius: 1rem; padding: 1.2rem 1rem; scrollbar-width: none; -ms-overflow-style: none;}
.messageModal .modalWrap::-webkit-scrollbar {display: none;}
.messageModal .modalWrap .modalHeader p {font-size: 0.9rem; font-weight: 700; color: var(--color-txt-b1); line-height: 1.4; margin-bottom: 0.9rem;}
.messageModal .modalWrap .modalBody ul > li.textareaWrap {margin-top: 0.5rem;}
.messageModal .modalWrap .modalBody ul > li label {display: block; font-size: 0.6rem; color: var(--color-txt-b7); margin-bottom: 0.15rem;}
.messageModal .modalWrap .modalFooter {display: flex; justify-content: flex-end; gap: 0.6rem; margin-top: 0.75rem;}
.messageModal .modalWrap .modalFooter .cancel {min-width: auto; width: 3.2rem;}
.messageModal .modalWrap .modalFooter .send {min-width: auto; width: 5.25rem;}



/* 교직원메뉴_지도학생목록(교수) - 모달 - 표시 */
.messageModal.show {opacity: 1; visibility: visible;}



/* 대학생활_강의정보-[tab]수업시간표(교수) */
.timeTableInfo {margin-bottom: 0.65rem;}
.timeTableInfo ul > li + li {padding-top: 0.5rem;}
.timeTableInfo ul > li .cate {font-weight: 500; color: var(--color-txt-g60);}
.timeTableInfo ul > li .desc {font-weight: 700; color: var(--color-txt-b4);}



/* 반응형 */
@media screen and (max-width: 374px) {

  /* ★메뉴 */
  .menuWrap {

    --menuListWidth: 40%;
  }
  


  /* 대학생활_모바일신분증(학생) */
  .idCardWrap .hanaWrap ul li a {flex-direction: column; gap: 0.25rem; padding: 0.325rem 0;}
  .idCardWrap .hanaWrap ul li > a p.txt {text-align: center;}



  /* 학사정보_학기별성적-[tab]학기별성적(학생) */
  .gradeInfo > ul {row-gap: 0.15rem;}
  .gradeInfo > ul > li.total {width: 100%;}



  /* 교직원메뉴_지도학생목록(교수) */
  .studentWrap .studentList .advisorInfo .infoList > ul {flex-wrap: wrap; row-gap: 0.1rem;}
  .studentWrap .studentList .advisorInfo .infoList > ul > li:first-child {width: 100%;}
}



@media screen and (max-width: 320px) {

  /* ★메뉴 */
  .menuWrap {

    --controlBoxGap: 0.75rem;
  }
  #menuList .depth_01 > li > a {padding-right: 1.3rem;}
  #menuList .depth_01 > li > a::after {right: 0.3rem;}



  /* 대학생활_공지사항_목록 - 공통 사용: ★알림센터 */
  .noticeListWrap.alertCenter .noticeList li a p {flex-wrap: wrap; column-gap: 1rem; row-gap: 0;}



  /* 대학생활_모바일신분증(학생) */
  .idCardWrap {
    
    --top-margin: 8rem;
  }
  .idCardWrap .cardInfo {padding: 0 0.75rem;}
  .idCardWrap .cardInfo .infoBox {width: calc(100% - 3.45rem); gap: 0.5rem; top: 2rem; left: 1.75rem;}
  .idCardWrap .cardInfo .infoBox .left h2 {margin: 0;}



  /* 대학생활_모바일신분증(교수교직원) */
  .idCardWrap.professor .cardInfo .infoBox {top: 50%; left: 17.5%; transform: translateY(-50%);}
  .idCardWrap.professor .cardInfo .infoBox .left {max-width: 7rem;}



  /* 교직원메뉴_교직원연락처(교수)(교직원) - 모달 */
  .contactModal .modalBody .contactList > li p .img {display: none;}
}